@import url(root.css);

.box_gameScreen {

    height: 60vmin;
    width: 100vmin;
    
    border-radius: .3rem;

    overflow: hidden;
}

/* FIRST SCREEN */

.box_screen_welcome {
    background-color: var(--clr-screen-4-70);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 100%;

    position: relative;
}

.btn_skip_intro {
    background-color: var(--clr-screen-4-70);
    border-radius: .3rem;
    padding: .7rem;

    height: 6%;
    width: 10%;

    min-height: fit-content;
    min-width: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    position: absolute;
    bottom: 10%;
    right: 10%;
    
    transition: .1s;

}

.btn_skip_intro:hover {
    background-color: var(--clr-screen-4);
    
    transition: .1s;

}
